In [168]:
import numpy as np
import scipy 
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import sklearn.tree as tree
import sklearn.ensemble as ensemble

In [169]:
df = pd.read_csv("train.csv")
df.loc[df['SibSp'] > 5, 'SibSp'] = 5
df.loc[df['Parch'] > 5, 'Parch'] = 5
df['Embarked'] = df['Embarked'].fillna('S')
y = df['Survived']
del df['Survived']
del df['Name']
del df['Ticket']
del df['Cabin']
ides = df['PassengerId']
del df['PassengerId']
categorical_cols = ['Parch', 'SibSp', 'Pclass', 'Embarked', 'Sex']
df_cat = df[categorical_cols].astype('string')
del df['Pclass']
del df['Sex']
del df['SibSp']
del df['Parch']
del df['Embarked']
from sklearn.feature_extraction import DictVectorizer as DV
encoder = DV(sparse = False)
df_cat_coder = encoder.fit_transform(df_cat.T.to_dict().values())

In [170]:
def calculate_means(numeric_data):
    means = np.zeros(numeric_data.shape[1])
    for j in range(numeric_data.shape[1]):
        to_sum = numeric_data.iloc[:,j]
        indices = np.nonzero(~numeric_data.iloc[:,j].isnull())[0]
        correction = np.amax(to_sum[indices])
        to_sum /= correction
        for i in indices:
            means[j] += to_sum[i]
        means[j] /= indices.size
        means[j] *= correction
    return pd.Series(means, numeric_data.columns)
mns = calculate_means(df)
for i in df:
    df[str(i)] = df[str(i)].fillna(mns[str(i)])

In [171]:
X = np.hstack((df, df_cat_coder))
a = np.ones([X.shape[0],1])
X = np.hstack((X, a))

In [172]:
df

           Age      Fare
0    22.000000    7.2500
1    38.000000   71.2833
2    26.000000    7.9250
3    35.000000   53.1000
4    35.000000    8.0500
5    29.699118    8.4583
6    54.000000   51.8625
7     2.000000   21.0750
8    27.000000   11.1333
9    14.000000   30.0708
10    4.000000   16.7000
11   58.000000   26.5500
12   20.000000    8.0500
13   39.000000   31.2750
14   14.000000    7.8542
15   55.000000   16.0000
16    2.000000   29.1250
17   29.699118   13.0000
18   31.000000   18.0000
19   29.699118    7.2250
20   35.000000   26.0000
21   34.000000   13.0000
22   15.000000    8.0292
23   28.000000   35.5000
24    8.000000   21.0750
25   38.000000   31.3875
26   29.699118    7.2250
27   19.000000  263.0000
28   29.699118    7.8792
29   29.699118    7.8958
..         ...       ...
861  21.000000   11.5000
862  48.000000   25.9292
863  29.699118   69.5500
864  24.000000   13.0000
865  42.000000   13.0000
866  27.000000   13.8583
867  31.000000   50.4958
868  29.699118    9.5000
869   4.000000   11.1333
870  26.000000    7.8958
871  47.000000   52.5542
872  33.000000    5.0000
873  47.000000    9.0000
874  28.000000   24.0000
875  15.000000    7.2250
876  20.000000    9.8458
877  19.000000    7.8958
878  29.699118    7.8958
879  56.000000   83.1583
880  25.000000   26.0000
881  33.000000    7.8958
882  22.000000   10.5167
883  28.000000   10.5000
884  25.000000    7.0500
885  39.000000   29.1250
886  27.000000   13.0000
887  19.000000   30.0000
888  29.699118   23.4500
889  26.000000   30.0000
890  32.000000    7.7500

[891 rows x 2 columns]

In [173]:
model_bagging = tree.DecisionTreeClassifier(max_depth = 10)
les = ensemble.BaggingClassifier(base_estimator = model_bagging, n_estimators=100)

In [174]:
X

array([[ 22.        ,   7.25      ,   0.        , ...,   0.        ,
          0.        ,   1.        ],
       [ 38.        ,  71.2833    ,   1.        , ...,   0.        ,
          0.        ,   1.        ],
       [ 26.        ,   7.925     ,   0.        , ...,   0.        ,
          0.        ,   1.        ],
       ...,
       [ 29.69911765,  23.45      ,   0.        , ...,   0.        ,
          0.        ,   1.        ],
       [ 26.        ,  30.        ,   1.        , ...,   0.        ,
          0.        ,   1.        ],
       [ 32.        ,   7.75      ,   0.        , ...,   0.        ,
          0.        ,   1.        ]])

In [175]:
les.fit(X, y)

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=100, n_jobs=1, oob_score=False,
         random_state=None, verbose=0, warm_start=False)

In [176]:
result = les.predict(X)
result

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [177]:
df = pd.read_csv("test.csv")
df.loc[df['SibSp'] > 5, 'SibSp'] = 5
df.loc[df['Parch'] > 5, 'Parch'] = 5
del df['Name']
del df['Ticket']
del df['Cabin']
ides = df['PassengerId']
del df['PassengerId']
categorical_cols = ['Parch', 'SibSp', 'Pclass', 'Embarked', 'Sex']
df_cat = df[categorical_cols].astype('string')
del df['Pclass']
del df['Sex']
del df['SibSp']
del df['Parch']
del df['Embarked']
from sklearn.feature_extraction import DictVectorizer as DV
encoder = DV(sparse = False)
df_cat_coder = encoder.fit_transform(df_cat.T.to_dict().values())

In [178]:
def calculate_means(numeric_data):
    means = np.zeros(numeric_data.shape[1])
    for j in range(numeric_data.shape[1]):
        to_sum = numeric_data.iloc[:,j]
        indices = np.nonzero(~numeric_data.iloc[:,j].isnull())[0]
        correction = np.amax(to_sum[indices])
        to_sum /= correction
        for i in indices:
            means[j] += to_sum[i]
        means[j] /= indices.size
        means[j] *= correction
    return pd.Series(means, numeric_data.columns)
mns = calculate_means(df)
for i in df:
    df[str(i)] = df[str(i)].fillna(mns[str(i)])

In [179]:
X = np.hstack((df, df_cat_coder))
a = np.ones([X.shape[0],1])
X = np.hstack((X, a))

In [180]:
df_cat_coder.shape

(418L, 20L)

In [181]:
X.shape

(418L, 23L)

In [182]:
result = les.predict(X)

In [183]:
result

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0], dtype=int64)

In [184]:
output = pd.DataFrame({'PassengerId': ides , 'Survived': result})
output.to_csv('submission.csv', index=False)